<div class="card mb-3">
    <div class="row g-0">
      <div class="col-lg-4">
        <img
          src="{{electronics.img}}"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-lg-5">
        <div class="card-body">
          <p class="card-title">
            {{electronics.name}}
          </p>
          <div class="price">
            <button class="deal">Deal</button>
            <h3>-{{electronics.off}}%</h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
              <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
            </svg> {{electronics.price}}
          </div>
          <p>Visit the nearest Store</p>
          <div class="rating">
            <p>3.2</p>
            <img src="assets/star.png" alt="" /> {{electronics.rating}} ratings | &nbsp;
            <span> 46 answers question</span>
          </div>
          <hr />
          <div class="allinfo">
            <div class="warranty">
              <img
                src="https://m.media-amazon.com/images/G/31/A2I-Convert/mobile/IconFarm/icon-returns._CB484059092_.png"
                alt=""
              />
              <p>Returns Policy</p>
            </div>
            <div class="warranty">
              <img
                src="https://m.media-amazon.com/images/G/31/A2I-Convert/mobile/IconFarm/icon-warranty._CB485935626_.png"
                alt=""
              />
              <p>1 Year Warranty</p>
            </div>
            <div class="warranty">
              <img
                src="https://m.media-amazon.com/images/G/31/A2I-Convert/mobile/IconFarm/icon-top-brand._CB617044271_.png"
                alt=""
              />
              <p>Top Brand</p>
            </div>
            <div class="warranty">
              <img
                src="https://m.media-amazon.com/images/G/31/A2I-Convert/mobile/IconFarm/Secure-payment._CB650126890_.png"
                alt=""
              />
              <p>Secure transaction</p>
            </div>
          </div>
          <hr />
  
          <table class="a-normal a-spacing-micro">
            <tbody>
              <tr class="a-spacing-small po-brand">
                <td class="a-span3">
                  <span class="a-size-base a-text-bold">Brand</span>
                </td>
                <td class="a-span9">
                  <span class="a-size-base po-break-word">{{electronics.Brand}}</span>
                </td>
              </tr>
              <tr class="a-spacing-small po-model_name">
                <td class="a-span3">
                  <span class="a-size-base a-text-bold">Model</span>
                </td>
                <td class="a-span9">
                  <span class="a-size-base po-break-word">{{electronics.Model}}</span>
                </td>
              </tr>
              <tr class="a-spacing-small po-operating_system">
                <td class="a-span3">
                  <span class="a-size-base a-text-bold"> Short description</span>
                </td>
                <td class="a-span9">
                  <span class="a-size-base po-break-word">{{electronics.Theme}}</span>
                </td>
              </tr>
              <tr class="a-spacing-small po-cellular_technology">
                <td class="a-span3">
                  <span class="a-size-base a-text-bold">Special features</span>
                </td>
                <td class="a-span9">
                  <span class="a-size-base po-break-word">{{electronics.Special_features}}</span>
                </td>
              </tr>
            </tbody>
          </table>
          <hr />
          <div class="about">
            <p>About this item</p>
            <ul>
              <li>The use of electronics products and taking the time to look nice is considered therapeutic, particularly in today’s busy world.</li>
              <li>To measure the importance of electronics gadget, we can look at their best features.</li>
              <li>Electronic devices are components for controlling the flow of electrical currents for the purpose of information processing and system control.</li>
              <li>Electronics, branch of physics and electrical engineering that deals with the emission, behaviour, and effects of electrons and with electronic devices.</li>
              <li> Examples of electronic devices include computers, mobile devices, and smart televisions. These devices use electrical energy to perform their ...</li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Available.</p>
            <h6 class="card-subtitle">
              We don't know when or if this item will be back in stock.
            </h6>
            <div class="delivery-to rating">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-geo-alt"
                viewBox="0 0 16 16"
              >
                <path
                  d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"
                />
                <path
                  d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                />
              </svg>
              Delivery to user - From Amazone.in
            </div>
            <hr />
            <button class="wishlist" (click)="AddToCart(electronics)">Add to Cart</button>
          </div>
        </div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Pt_y2iFYV7q8aVbYP_QE8dy0LFb2bLFylQ&usqp=CAU" alt="" />
      </div>
    </div>
    <hr />
    <div class="techincal-detail">
      <div class="check">
        <p class="nokisa">{{electronics.name}}  electronics Information</p>
        <div class="spacing">
          <div class="a-column">
            <div class="row">
              <div class="a-column">
                <h1>Technical Details</h1>
              </div>
            </div>
            <div class="first-container">
              <table
                id="productDetails_techSpec_section_1"
                class="a-keyvalue prodDetTable"
                role="presentation"
              >
                <tbody>
                  <tr>
                    <th class="a-color-secondary a-size-base prodDetSectionEntry">
                      
Manufacturer
                    </th>
                    <td class="a-size-base prodDetAttrValue">
                      ‎{{electronics.Manufacturer}}
                    </td>
                  </tr>
                  <tr>
                    <th class="a-color-secondary a-size-base prodDetSectionEntry">
                      Product Dimensions
                    </th>
                    <td class="a-size-base prodDetAttrValue">
                      ‎{{electronics.Product_Dimensions}}
                    </td>
                  </tr>
                
                  
                 
                 
                  
                  <tr>
                    <th class="a-color-secondary a-size-base prodDetSectionEntry">
                      Form factor
                    </th>
                    <td class="a-size-base prodDetAttrValue">‎Bar</td>
                  </tr>
                  <tr>
                    <th class="a-color-secondary a-size-base prodDetSectionEntry">
                      Colour
                    </th>
                    <td class="a-size-base prodDetAttrValue">mulitple</td>
                  </tr>
                  
                  
                  <tr>
                    <th class="a-color-secondary a-size-base prodDetSectionEntry">
                      Manufacturer
                    </th>
                    <td class="a-size-base prodDetAttrValue">{{electronics.Manufacturer}}</td>
                  </tr>
                  <tr>
                    <th class="a-color-secondary a-size-base prodDetSectionEntry">
                      Item Weight
                    </th>
                    <td class="a-size-base prodDetAttrValue">‎{{electronics.Item_Weight}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="a-column">
            <div id="productDetails_db_sections" class="a-section">
              <h1 class="a-size-medium a-spacing-small secHeader">
                Additional Information
              </h1>
              <div class="a-section table-padding">
                <table
                  id="productDetails_detailBullets_sections1"
                  class="a-keyvalue prodDetTable"
                  role="presentation"
                >
                  <tbody>
                    <tr>
                      <th
                        class="a-color-secondary a-size-base prodDetSectionEntry"
                      >
                        Customer Reviews
                      </th>
                      <td class="a-size-base">
                        <style type="text/css">
                          /* 
              * Fix for UDP-1061. Average customer reviews has a small extra line on hover 
              * https://omni-grok.amazon.com/xref/src/appgroup/websiteTemplates/retail/SoftlinesDetailPageAssets/udp-intl-lock/src/legacy.css?indexName=WebsiteTemplates#40
              */
                          .noUnderline a:hover {
                            text-decoration: none;
                          }
  
                          .cm-cr-review-stars-spacing-big {
                            margin-top: 1px;
                          }
                        </style>
  
                        <div
                          id="averageCustomerReviews"
                          data-asin="B0C5RK3X6F"
                          data-ref="dpx_acr_pop_"
                        >
                          <span
                            class="a-declarative"
                            data-action="acrStarsLink-click-metrics"
                            data-csa-c-type="widget"
                            data-csa-c-func-deps="aui-da-acrStarsLink-click-metrics"
                            data-acrstarslink-click-metrics="{}"
                            data-csa-c-id="4rmjtg-ek5dhr-mazl07-rz3lds"
                          >
                            <span
                              id="acrPopover"
                              class="reviewCountTextLinkedHistogram noUnderline"
                              title="3.5 out of 5 stars"
                            >
                              <span
                                class="a-declarative"
                                data-action="a-popover"
                                data-csa-c-type="widget"
                                data-csa-c-func-deps="aui-da-a-popover"
                                data-a-popover='{"max-width":"700","closeButton":"false","name":"star_ratings_popover","position":"triggerBottom","url":"/gp/customer-reviews/widgets/average-customer-review/popover/ref=dpx_acr_pop_?contextId=dpx&amp;asin=B0C5RK3X6F"}'
                                data-csa-c-id="fxldej-4bxw0t-wa9ym4-8qsjbe"
                              >
                                <a
                                  href="javascript:void(0)"
                                  role="button"
                                  class="a-popover-trigger a-declarative"
                                >
                                  <span class="a-size-base a-color-base">
                                   
                                  </span>
                                  <i
                                    class="a-icon a-icon-star a-star-3-5 cm-cr-review-stars-spacing-big"
                                    ><span class="a-icon-alt"
                                      >{{electronics.rating}}</span
                                    ></i
                                  >
                                  <i class="a-icon a-icon-popover"></i
                                ></a>
                              </span>
                              <span class="a-letter-space"></span>
                            </span>
                          </span>
                          <span class="a-letter-space"></span>
                          <span
                            class="a-declarative"
                            data-action="acrLink-click-metrics"
                            data-csa-c-type="widget"
                            data-csa-c-func-deps="aui-da-acrLink-click-metrics"
                            data-acrlink-click-metrics="{}"
                            data-csa-c-id="719ply-2m7eox-r9cjj9-af7usd"
                          >
                            <a
                              id="acrCustomerReviewLink"
                              class="a-link-normal"
                              href="#customerReviews"
                            >
                              
                            </a>
                          </span>
                        </div>
                        <br />
                        {{electronics.rating}}
                      </td>
                    </tr>
                    <tr>
                      <th
                        class="a-color-secondary a-size-base prodDetSectionEntry"
                      >
                        Best Sellers Rank
                      </th>
                      <td>
                        <span>
                          <span
                            >{{electronics.Sellers_Rank}} (<a
                              href="/gp/bestsellers/electronics/ref=pd_zg_ts_electronics"
                              >See Top 100 in Electronics</a
                            >)</span
                          >
                          <br />
                          <span
                          >#1 in
                          <a
                            href="/gp/bestsellers/electronics/1805559031/ref=pd_zg_hrsr_electronics"
                            >Basic electronics </a
                          ></span
                        >
                          <br />
                        </span>
                      </td>
                    </tr>
                 
                    <tr>
                      <th
                        class="a-color-secondary a-size-base prodDetSectionEntry"
                      >
                        Manufacturer
                      </th>
                      <td class="a-size-base prodDetAttrValue">
                       {{electronics.Manufacturer}}
                      </td>
                    </tr>
                    <tr>
                      <th
                        class="a-color-secondary a-size-base prodDetSectionEntry"
                      >
                        Date first Available
                      </th>
                      <td class="a-size-base prodDetAttrValue">
                       {{electronics.Date_First_Available}}
                      </td>
                    </tr>
                    <tr>
                      <th
                        class="a-color-secondary a-size-base prodDetSectionEntry"
                      >
                        Item Dimensions LxWxH
                      </th>
                      <td class="a-size-base prodDetAttrValue">
                        {{electronics.Product_Dimensions}}
                      </td>
                    </tr>
                    <tr>
                      <th
                        class="a-color-secondary a-size-base prodDetSectionEntry"
                      >
                        Net Quantity
                      </th>
                      <td class="a-size-base prodDetAttrValue">{{electronics.Net_Quantity}}</td>
                    </tr>
                    <tr>
                      <th
                        class="a-color-secondary a-size-base prodDetSectionEntry"
                      >
                        Generic Name
                      </th>
                      <td class="a-size-base prodDetAttrValue">{{electronics.Generic_Name}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>