<footer>
  <a href="#" class="footer-title"> Back to top </a>
  <div class="footer-items">
    <ul>
      <h3>Get to Know Us</h3>
      <li><a href="#">About us</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Press Release</a></li>
      <li><a href="#">Amazon Science</a></li>
      <li><a href="#">Help</a></li>
    </ul>
    <ul>
      <h3>Connect with Us</h3>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Instagram</a></li>
    </ul>
    <ul>
      <h3>Make Money with Us</h3>
      <li><a href="#">Sell on Amazon</a></li>
      <li><a href="#">Protect and Build Your Brand</a></li>
      <li><a href="#">Become an Affiliate</a></li>
      <li><a href="#">Fulfillment by Amazon</a></li>
      <li><a href="#">Advertise Your Products</a></li>
    </ul>
    <ul>
      <h3>Let Us Help You</h3>
      <li><a href="#">COVID-19 and Amazon</a></li>
      <li><a href="#">Your Account</a></li>
      <li><a href="#">Return Centre</a></li>
      <li><a href="#">100% Purchase Protection</a></li>
      <li><a href="#">Amazon App Download</a></li>
    </ul>
  </div>
  <div class="amazonelog0">
    <img src="assets/footer.png" alt="footerlogo" />
  </div>
  <div class="cityname">
    <ul>
      <li class="nav_first">
        <a href="https://www.amazon.com.au/ref=footer_au" class="nav_a"
          >Australia</a
        >
      </li>
      <li>
        <a href="https://www.amazon.com.br/ref=footer_br" class="nav_a"
          >Brazil</a
        >
      </li>
      <li>
        <a href="https://www.amazon.ca/ref=footer_ca" class="nav_a">Canada</a>
      </li>
      <li>
        <a href="https://www.amazon.cn/ref=footer_cn" class="nav_a">China</a>
      </li>
      <li>
        <a href="https://www.amazon.fr/ref=footer_fr" class="nav_a">France</a>
      </li>
      <li>
        <a href="https://www.amazon.de/ref=footer_de" class="nav_a">Germany</a>
      </li>
      <li>
        <a href="https://www.amazon.it/ref=footer_it" class="nav_a">Italy</a>
      </li>
      <li>
        <a href="https://www.amazon.co.jp/ref=footer_jp" class="nav_a">Japan</a>
      </li>
      <li>
        <a href="https://www.amazon.com.mx/ref=footer_mx" class="nav_a"
          >Mexico</a
        >
      </li>
      <li>
        <a href="https://www.amazon.nl/ref=footer_nl" class="nav_a"
          >Netherlands</a
        >
      </li>
      <li>
        <a href="https://www.amazon.pl/ref=footer_pl" class="nav_a">Poland</a>
      </li>
      <li>
        <a href="https://www.amazon.sg/ref=footer_sg" class="nav_a"
          >Singapore</a
        >
      </li>
      <li>
        <a href="https://www.amazon.es/ref=footer_es" class="nav_a">Spain</a>
      </li>
      <li>
        <a href="https://www.amazon.com.tr/ref=footer_tr" class="nav_a"
          >Turkey</a
        >
      </li>
      
    </ul>
  </div>
  <div>
    <ul class="citys">
      <li>
        <a href="https://www.amazon.ae/ref=footer_ae" class="nav_a"
          >United Arab Emirates</a
        >
      </li>
      <li>
        <a href="https://www.amazon.co.uk/ref=footer_uk" class="nav_a"
          >United Kingdom</a
        >
      </li>
      <li class="nav_last">
        <a href="https://www.amazon.com/ref=footer_us" class="nav_a"
          >United States</a
        >
      </li>
    </ul>
  </div>
</footer>
