<div class="respon">
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://m.media-amazon.com/images/I/51DWgNo1fdL._SX3000_.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Beauty/GW/ATF/revised/new/Skincare-Herofader-PC._CB594538667_.jpg"
        class="d-block w-100"
        alt="https://images-eu.ssl-images-amazon.com/images/G/31/img17/AmazonPay/Siddhi/PC_Hero_3000x1200_Prime_dec._CB617198091_.jpg"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://m.media-amazon.com/images/I/71cmQ4-ezGL._SX3000_.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://images-eu.ssl-images-amazon.com/images/G/31/prime/lepton/P5/wb/3000x1200._CB650473038_.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/Shreyansh/BAU/Unrexc/D70978891_INWLD_BAU_Unrec_Uber_PC_Hero_3000x1200._CB594707876_.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="card-group">
  <div class="card" style="width: 18rem">
    <p class="great">Great Freedom sale</p>
    <img
      src="https://images-eu.ssl-images-amazon.com/images/G/31/Events/img23/Aug23ART/GW/1/AugART23_PC_CC_1X_Revised._SY304_CB599450502_.jpg"
      class="card-img-top"
      alt="..."
    />
    <a href="" class="anchor">see all</a>
  </div>
  <div class="main-card">
    <div>
      <div class="sub-card">
        <img
          src="https://m.media-amazon.com/images/I/51cVp7TBiHL._AC_SY135_.jpg"
          alt=""
        />
        <p>Motorola A10e...</p>
      </div>
      <div class="sub-card">
        <img
          src="https://m.media-amazon.com/images/I/51vpj+sZf6L._AC_SY135_.jpg"
          alt=""
        />
        <p>Motorola a70…</p>
      </div>
    </div>
    <div>
      <div class="sub-card">
        <img
          src="https://m.media-amazon.com/images/I/61MsPotyzBL._AC_SY135_.jpg"
          alt=""
        />
        <p>Lava A3 White…</p>
      </div>
      <div class="sub-card">
        <img
          src="https://m.media-amazon.com/images/I/61-wPSVPN-L._AC_SY135_.jpg"
          alt=""
        />
        <p>Lava A3 Power…</p>
      </div>
    </div>
  </div>
  <div class="main-card">
    <div>
      <div class="sub-card">
        <img
          src="https://m.media-amazon.com/images/I/41YKSuexTnL._MCnd_AC_.jpg"
          alt=""
        />
        <p>Sunscreen & after…</p>
      </div>
      <div class="sub-card">
        <img
        class="shampoo"
          src="https://m.media-amazon.com/images/I/41QxrnOUonL._MCnd_AC_.jpg"
          alt=""
        />
        <p>Shampoos</p>
      </div>
    </div>
    <div>
      <div class="sub-card">
        <img
          src="https://m.media-amazon.com/images/I/41d9zc8svrL._MCnd_AC_.jpg"
          alt=""
        />
        <p>Ebook readers</p>
      </div>
      <div class="sub-card">
        <img
          src="https://m.media-amazon.com/images/I/31bmQJHMCFL._MCnd_AC_.jpg"
          alt=""
        />
        <p>Deodorants & ant…</p>
      </div>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <p class="great">Great Freedom sale</p>
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHxs1X936pZ4rmrlV7s8L9_JSXzpHzoo6BDA&usqp=CAU"
      class="card-img-top"
      alt="..."
    />
    <a href="" class="anchor">see all</a>
  </div>
</div>
</div>
<hr>
<app-footer></app-footer>