<ul class="col-xs-12 bae" id="jannnn">
  <li *ngIf="isAuthentication">
    <button
      class="btn"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasScrolling"
      aria-controls="offcanvasScrolling"
      style="color: white"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="21"
        height="22"
        fill="currentColor"
        class="bi bi-justify"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
        />
      </svg>
      All
    </button>

    <div
      class="offcanvas offcanvas-start"
      data-bs-scroll="true"
      data-bs-backdrop="false"
      tabindex="-1"
      id="offcanvasScrolling"
      aria-labelledby="offcanvasScrollingLabel"
    >
      <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasScrollingLabel">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="23"
            height="23"
            fill="currentColor"
            class="bi bi-person-circle"
            viewBox="0 0 16 16"
            style="margin-bottom: 4px"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
            />
          </svg>
          Hellow ,User
        </h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <h4 id="trending"><a>Trending</a></h4>
        <ul>
          <li>
            <a
              href="https://www.amazon.in/gp/bestsellers/?ref_=nav_em_cs_bestsellers_0_1_1_2"
              class="hmenu-item"
              >Best Sellers</a
            >
          </li>
          <li>
            <a
              href="https://www.amazon.in/gp/new-releases/?ref_=nav_em_cs_newreleases_0_1_1_3"
              class="hmenu-item"
              >New Releases</a
            >
          </li>
          <li>
            <a
              href="https://www.amazon.in/gp/movers-and-shakers/?ref_=nav_em_ms_0_1_1_4"
              class="hmenu-item"
              >Movers and Shakers</a
            >
          </li>
        </ul>
        <hr />
        <h4 id="digital"><a>Digital content and device</a></h4>
        <ul>
          <li>
            <a
              href="https://www.amazon.in/minitv?ref_=nav_em_avod_desktop_hamburger_0_1_1_6"
              class="hmenu-item"
              >Amazon miniTV- FREE entertainment</a
            >
          </li>
          <li>
            <a
              href="https://www.amazon.in/dp/B084DWH53T?ref_=nav_em_in_pc_sbc_BE_0_2_2_2"
              class="hmenu-item"
              >Echo & Alexa</a
            >
          </li>
          <li>
            <a
              href="https://www.amazon.in/dp/B08R6NFZ6R?ref_=nav_em_nav-pc-ftvlite_0_2_3_2"
              class="hmenu-item"
              >Fire TV</a
            >
          </li>
          <li>
            <a href="https://www.amazon.in/dp/B07FQ4Q7MB"
              >Kindle E-Readers & eBooks</a
            >
          </li>
          <li>
            <a
              href="https://www.amazon.in/gp/browse.html?node=17941593031&ref_=nav_em_adbl_nav_sl_link2_0_2_5_3"
              >Audible Audiobooks</a
            >
          </li>
          <li>
            <a href="https://www.primevideo.com/region/eu/?ref_=atv_sso_std">
              Amazon Prime Video</a
            >
          </li>
        </ul>
        <hr />
        <h4 id="digital"><a>Help and setting</a></h4>
        <ul>
          <li>
            <a
              href="/gp/bestsellers/?ref_=nav_em_cs_bestsellers_0_1_1_2"
              class="hmenu-item"
              >Your Account
            </a>
          </li>
          <li>
            <a
              href="/gp/new-releases/?ref_=nav_em_cs_newreleases_0_1_1_3"
              class="hmenu-item"
            >
              Customer Service</a
            >
          </li>
          <li>
            <a
              href="/gp/movers-and-shakers/?ref_=nav_em_ms_0_1_1_4"
              class="hmenu-item"
              >Sign Out</a
            >
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li id="liitem" routerLink="phones" *ngIf="isAuthentication"><a>Phones</a></li>
  <li id="liitem" routerLink="Beauty" *ngIf="isAuthentication"><a>Beauty </a></li>
  <li id="liitem" routerLink="electronics" *ngIf="isAuthentication"><a>electronics</a></li>
  <li id="liitem" routerLink="Mens" *ngIf="isAuthentication"><a>Men's</a></li>
  <li id="liitem" routerLink="womens" *ngIf="isAuthentication"><a>Women's</a></li>
  <li id="liitem" routerLink="personal" *ngIf="isAuthentication"><a>Health household & personal care </a></li>
  <li id="liitem" *ngIf="isAuthentication"><a>Coupons</a></li>
  <!-- <li id="liitem"><img src="https://m.media-amazon.com/images/G/31/IN-Events/PD23/GW/SWM_400x39_launches_V2._CB602608776_.jpg" alt="" style="height: 40px;"></li> -->
</ul>
<div>
  <router-outlet></router-outlet>
</div>
