<div class="vedios-cards">
    <div class="col-lg-6">
      <a href="https://www.youtube.com/watch?v=K-EMszLvRIQ"> <img src="assets/Youtube.png" alt=""></a>
    
    </div>
    <div class="card1" routerLink="/Beauty">
    <p class="pARA">Buy again</p>
      <div class="card-body">
        <div class="card22">
          <img src="https://m.media-amazon.com/images/I/71Y2nr9pAqL._AC_SY119_.jpg" alt="">
          <img src="https://m.media-amazon.com/images/I/71Y9QKNXoZL._AC_SY119_.jpg" alt="">
        </div>
        <div class="card22">
          <img src="https://m.media-amazon.com/images/I/61lVCBHZyXL._AC_SY119_.jpg" alt="">
          <img src="https://m.media-amazon.com/images/I/41eas9S8mLL._AC_SY119_.jpg" alt="">
        </div>
        
     
      </div>
    <p>Shop your everyday essentials</p>
    <a href="" class="gref">see more</a>
    </div>
    <div class="card1" routerLink="/personal">
        <p class="pARA">Up to 60% off | Daily needs</p>
          <div class="card-body-second">
            <div class="card22">
              <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/OHL/Augart23PCQC/Rec/1/Home_1._SY116_CB598848362_.jpg" alt="">
              <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/OHL/Augart23PCQC/Rec/1/Furniture_1._SY116_CB598848362_.jpg" alt="">
            </div>
            <div class="card22">
              <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/OHL/Augart23PCQC/Rec/1/HI_1._SY116_CB598848362_.jpg" alt="">
              <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/OHL/Augart23PCQC/Rec/1/SA_1._SY116_CB598848362_.jpg" alt="">
            </div>
          </div>
        <p>Shop your everyday essentials</p>
        <a href="" class="gref">see more</a>
        </div>
       
</div>
<hr>
    
    <app-body-all></app-body-all>