<div class="row" >
  <div class="col-lg-3  col-md-4 col-sm-4 col-4" >
    <div class="all">
      <hr>
      <ul>
        <p>Category</p>
        <li><a href="">Smartphones & Basic Mobiles</a></li>
        <li><a href="">Smartphones</a></li>
        <li><a href="">Basic Mobiles</a></li>
      </ul>
      <ul>
       <p> Customer Review</p>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
      <ul>
        <p>Brand</p>
        <li>
          <a href=""> <input type="checkbox" />Samsung </a>
        </li>
        <li>
          <a href=""> <input type="checkbox" />Redmi</a>
        </li>
        <li>
          <a href=""> <input type="checkbox" />Vivo</a>
        </li>
        <li>
          <a href=""> <input type="checkbox" />google</a>
        </li>
        <li>
          <a href=""> <input type="checkbox" />Motorola</a>
        </li>
        <li>
          <a href=""> <input type="checkbox" />POCO</a>
        </li>
        <li>
          <a href=""> <input type="checkbox" />Oppo</a>
        </li>
      </ul>
      <ul>
<p> Price</p>
        <li><a href="">Under ₹1,000</a></li>
        <li><a href="">₹1,000 - ₹5,000</a></li>
        <li><a href="">₹5,000 - ₹10,000</a></li>
        <li><a href="">₹10,000 - ₹20,000</a></li>
        <li><a href="">Over ₹20,000</a></li>
      </ul>
      <ul>
        <p>Operating System</p>
        <li>
          <a href=""><input type="checkbox" />Android 10.0</a>
        </li>
        <li>
          <a href=""><input type="checkbox" />Android 12.0</a>
        </li>
        <li>
          <a href=""><input type="checkbox" />Android 13.0</a>
        </li>
        <li>
          <a href=""><input type="checkbox" />Android 0.0</a>
        </li>
        <li>
          <a href=""><input type="checkbox" />Android 5.1</a>
        </li>
        <li>
          <a href=""><input type="checkbox" />Android 7.1</a>
        </li>
        <li>
          <a href=""><input type="checkbox" />Android 8.1</a>
        </li>
      </ul>
      <ul>
<p> Internal Memory</p>
        <li>
          <a href=""><input type="checkbox" />Less than 3.9 GB</a>
        </li>
        <li>
          <a href=""><input type="checkbox" />4 GB</a>
        </li>
        <li>
          <a href=""><input type="checkbox" />8 GB</a>
        </li>
        <li>
          <a href=""><input type="checkbox" />16 GB</a>
        </li>
        <li>
          <a href=""><input type="checkbox" />32 GB</a>
        </li>
        <li>
          <a href=""><input type="checkbox" />64 GB</a>
        </li>
        <li>
          <a href=""><input type="checkbox" />128 GB</a>
        </li>
        <li>
          <a href=""><input type="checkbox" />128GB & above</a>
        </li>
      </ul>
      <ul>
   <p>     Screen Size</p>
        <li>
          <a href=""><input type="checkbox" name="" id="" />Up to 3.9 in</a>
        </li>
        <li>
          <a href=""><input type="checkbox" name="" id="" />4 to 4.4 in</a>
        </li>
        <li>
          <a href=""><input type="checkbox" name="" id="" />4.5 to 4.9 in</a>
        </li>
        <li>
          <a href=""><input type="checkbox" name="" id="" />5 to 5.4 in</a>
        </li>
        <li>
          <a href=""><input type="checkbox" name="" id="" />5.5 in & above</a>
        </li>
      </ul>
      <ul>
       <p> Battery Capacity</p>
        <li>
          <a href=""
            ><input type="checkbox" name="" id="" />Less Than 999 mAh</a
          >
        </li>
        <li>
          <a href=""><input type="checkbox" name="" id="" />1000 - 1999 mAh</a>
        </li>
        <li>
          <a href=""><input type="checkbox" name="" id="" />2000 - 2999 mAh</a>
        </li>
        <li>
          <a href=""><input type="checkbox" name="" id="" />3000 - 3999 mAh</a>
        </li>
        <li>
          <a href=""><input type="checkbox" name="" id="" />4000 mAh & More</a>
        </li>
      </ul>
      <ul>
        <p>Mobile Phone Resolution</p>
        <li>
          <a href=""><input type="checkbox" name="" id="" />1080 x 2340</a>
        </li>
        <li>
          <a href=""
            ><input type="checkbox" name="" id="" />

            2340 x 1080</a
          >
        </li>
        <li>
          <a href=""><input type="checkbox" name="" id="" /> 1280 x 720</a>
        </li>
        <li>
          <a href=""><input type="checkbox" name="" id="" />1520 x 720</a>
        </li>
        <li>
          <a href=""><input type="checkbox" name="" id="" /> 1600 x 720</a>
        </li>
        <li>
          <a href=""><input type="checkbox" name="" id="" /> 1920 x 1080</a>
        </li>
        <li>
          <a href=""><input type="checkbox" name="" id="" /> 1080 x 2400</a>
        </li>
      </ul>
      <ul>
      <p> Device Features</p>
        <li>
          <a href=""><input type="checkbox" name="" id="" />Dual SIM </a>
        </li>
        <li>
          <a href=""><input type="checkbox" name="" id="" />E-Mail</a>
        </li>
        <li>
          <a href=""><input type="checkbox" name="" id="" /> GPS</a>
        </li>
        <li>
          <a href=""><input type="checkbox" name="" id="" /> Primary Camera</a>
        </li>
        <li>
          <a href=""><input type="checkbox" name="" id="" /> Music Player</a>
        </li>
        <li>
          <a href=""><input type="checkbox" name="" id="" />Radio</a>
        </li>
      </ul>
      <ul>
       <p> Discount</p>
        <li><a href="">10% Off or more </a></li>
        <li><a href=""> 25% Off or more</a></li>
        <li><a href=""> 35% Off or more</a></li>
        <li><a href=""> 50% Off or more</a></li>
        <li><a href="">60% Off or more</a></li>
        <li><a href="">70% Off or more</a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-9 col-sm-8 col-md-8 col-8">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBGhvf9bVwg7eYBHLX1FXURvl_yXsTKWjZVA&usqp=CAU" alt="">
      <div>
        <app-phones-list></app-phones-list>
      </div>
  </div>
</div>
