<div class="col-lg-12">
  <div class="row">
    <img
      src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/AmazonPay/AugART/V6/PED_GWeditorial_2300x646._CB599331202_.jpg"
      alt=""
    />
  </div>
  <hr />
  <div class="row class1">
    <div class="card-group">
      <div class="card card1" routerLink="/phones">
        <p class="card-title">
          Prime Early Deals | Up to ₹2,000 back on Amazon
        </p>
        <div class="card-body">
          <img class="card-img-top" src="assets/in1.png" alt="Card image cap" />
          <p class="p2">Register for free</p>
        </div>
      </div>
      <div class="card card1" routerLink="/phones">
        <p class="card-title">Up to 45% off | Alexa, Fire TV & Kindle</p>
        <div class="card-body">
          <img class="card-img-top" src="assets/in2.png" alt="Card image cap" />
          <p class="p2">Prime Early Deals | See all offers</p>
        </div>
      </div>
      <div class="card card1" routerLink="/personal">
        <p class="card-title">Daily essentials | Up to 60% off</p>
        <div class="card-body">
          <img class="card-img-top" src="assets/in3.png" alt="Card image cap" />
          <p class="p2">Prime Early Deals | See all offers</p>
        </div>
      </div>
      <div class="card card1" routerLink="/electronics">
        <p class="card-title">Great Freedom Sale | Brands in focus</p>
        <div class="card-body">
          <img class="card-img-top" src="assets/in4.png" alt="Card image cap" />
          <p class="p2">Prime Early Deals | See all offers</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="spon">
      <img src="assets/spon.png" alt="" class="sponsor" routerLink="/phones" />
    </div>
  </div>
</div>
<div class="row">
  <img src="assets/shop.png" alt="" class="contain"  routerLink="/phones" />
</div>
<div class="row">
    <div class="card-group">
        <div class="card card1">
        
          <div class="card-body"  routerLink="/phones">
            <img class="card-img-top" src="https://m.media-amazon.com/images/S/al-eu-726f4d26-7fdb/189e5b41-83a7-4fc2-a684-1a117df50361.jpg" alt="Card image cap" />
          </div>
        </div>
        <div class="card card1" routerLink="/women" >
          <p class="card-title">Minimum 60% off | Amazon Brands & more</p>
          <div class="card-body">
            <img class="card-img-top" src="assets/on1.png" alt="Card image cap" />
            <p class="p2">See all offers</p>
          </div>
        </div>
        <div class="card card1" routerLink="/personal" >
          <p class="card-title">Upto 70% off | Home & kitchen</p>
          <div class="card-body">
            <img class="card-img-top" src="assets/on2.png" alt="Card image cap" />
            <p class="p2">Prime Early Deals | See all offers</p>
          </div>
        </div>
        <div class="card card1" routerLink="/phones" >
          <p class="card-title">Smartphones that suits your budget</p>
          <div class="card-body">
            <img class="card-img-top" src="assets/on3.png" alt="Card image cap" />
            <p class="p2">See all Deals</p>
          </div>
        </div>
      </div>
</div>

<app-footer></app-footer>
