<div class="col-lg-12">
  <div class="row">
    <img
      src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/AmazonPay/AugART/V6/PED_GWeditorial_2300x646._CB599331202_.jpg"
      alt=""
    />
  </div>
  <hr />
  <div class="row class1">
    <div class="card-group">
      <div class="card card1">
        <p class="card-title">
          Prime Early Deals | Up to ₹2,000 back on Amazon
        </p>
        <div class="card-body">
          <img class="card-img-top" src="assets/in1.png" alt="Card image cap" />
          <p class="p2">Register for free</p>
        </div>
      </div>
      <div class="card card1">
        <p class="card-title">Up to 45% off | Alexa, Fire TV & Kindle</p>
        <div class="card-body">
          <img class="card-img-top" src="assets/in2.png" alt="Card image cap" />
          <p class="p2">Prime Early Deals | See all offers</p>
        </div>
      </div>
      <div class="card card1">
        <p class="card-title">Daily essentials | Up to 60% off</p>
        <div class="card-body">
          <img class="card-img-top" src="assets/in3.png" alt="Card image cap" />
          <p class="p2">Prime Early Deals | See all offers</p>
        </div>
      </div>
      <div class="card card1">
        <p class="card-title">Great Freedom Sale | Brands in focus</p>
        <div class="card-body">
          <img class="card-img-top" src="assets/in4.png" alt="Card image cap" />
          <p class="p2"> Prime Early Deals | See all offers</p>
        </div>
      </div>
    </div>
   
  </div>
  <div class="row">
    <div class="spon">
        <img src="assets/spon.png" alt="" class="sponsor">
    </div>
   
</div>
</div>
<div class="row">
    <img src="assets/shop.png" alt="" class="contain">
</div>
<app-footer></app-footer>